:root {
    --primary-color: #92d884;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

li {
    display: inline-flex;
}

a {
    padding: 8px;
}

a:hover {
    background-color: cadetblue;
    border-bottom: 1px solid black;
}