/* 
:root => Es una pseudoclase que representa la raíz del documento.
*/
:root {
    --main-color: #fffcf5;
    --secondary-color: #85e69a;
    --menu-item-width: 90px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: var(--main-color);
}

header {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
}

/* Estilos del menú principal */

nav {
    width: 80%;
    display: flex;
    justify-content: right;
}

.menu {
    display: flex;
}

.menu>li {
    position: relative;
}

.menu>li>a {
    display: block;
    width: var(--menu-item-width);
    padding: 5px 5px;
}

.menu>li>a:hover {
    background-color: #e4d17f;
}

.menu>li:last-child>a {
    border-right: 1px solid black;
}

/* Estilos del submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: var(--menu-item-width);
}

.submenu li a {
    display: block;
    padding: 10px;
}

.submenu li a:hover {
    background-color: #dfc656;
}

/* Mostrando el menú al pasar por el li cabecera */
.menu li:hover>.submenu {
    display: block;
}

/* Mostrando las imagenes de redes sociales */
.social {
    display: flex;
    gap: 8px;
}

.social img {
    width: 24px;
    border: none;
}

/* Estilos para los títulos*/
h1 {
    text-align: center;
}


/* Pie de página */
footer {
    width: 100%;
    background-color: #d1c6ad;
    padding: 20px 0 0;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

footer #social {
    display: flex;
    gap: 10px;
}

footer #social img {
    width: 24px;
    border: none;
}

footer .logo img {
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
}

#copyright {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #dbbc71;
}